<html>
  <head>
    <script>
      function doSubmit(){
        window.document.reform.submit();
        return false;
      }
    </script>
  </head>

  <body onload="doSubmit()">
    <form name="reform" target="_top" method="post" action="{{ merceariadigital_payment_action }}">
      <input id="transactionMid" type="hidden" value="{{ transaction_mid }}" name="transactionMid">
      <input id="transactionRequest" type="hidden" value="{{ transaction_request }}" name="transactionRequest">
    </form>
    <script>
      doSubmit();
    </script>

  </body>
</html>
